<title>raport</title>
<style type="text/css">
    body {
        margin: 0px;
    }
</style>
<iframe width="100%" height="100%"
        src="https://app.powerbi.com/view?r=eyJrIjoiYTBlNGJhMTUtNjk4ZS00ZjE0LTk1OTctNGZmM2UyN2Y2ZDU3IiwidCI6IjhlMDZhMmM4LTMyNDYtNGY5OC04Zjg0LTIxYjkzYTcwOGRjYiIsImMiOjl9"
        frameborder="0" allowFullScreen="true"></iframe>