<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="admin-panel">
    <meta name="keywords" content="admin-panel">
    <meta name="author" content="vote_system_super_hyper_ultra_dev_group">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="../../static/img/icon.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <title>Zaloguj</title>
</head>

<body>
<div style="text-align: center;">
    <p th:text="${errorMessage}" style="color:red" ></p>
    <h1 class="my-3">Panel administracyjny</h1>
    <button class="btn btn-primary" onclick="document.getElementById('loginwindow').style.display='block'"
            style="width:250px;">Zaloguj
    </button>
</div>

<div id="loginwindow" class="modal">
    <form class="modal-content animate" th:action="@{/admin_login}" method="post">
        <div class="container p-3">
            <input type="text" id="username" placeholder="Nazwa użytkownika" name="username" class="form-control my-2"
                   style="text-align: center" required>
            <input type="password" id="password" placeholder="Hasło" name="password" class="form-control mb-2"
                   style="text-align: center" required>
            <button type="submit" class="btn btn-success btn-lg btn-block">Zaloguj</button>
            <button type="button" onclick="document.getElementById('loginwindow').style.display='none'"
                    class="btn btn-danger btn-lg btn-block">Anuluj
            </button>
        </div>
    </form>
</div>

</body>
</html>
