<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="admin-panel">
    <meta name="keywords" content="admin-panel">
    <meta name="author" content="vote_system_super_hyper_ultra_dev_group">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="../../static/img/icon.png" th:href="@{/img/icon.png}">
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>

    <title>Panel administracyjny</title>
</head>

<body>
    <div style="text-align: center;">
        <h1 class="my-3">Panel administracyjny</h1>
        <p th:if="${alert != null}" th:object="${alert}" th:text="${alert}" class="alert alert-danger"></p>
        <p th:if="${success != null}" th:object="${success}" th:text="${success}" class="alert alert-success"></p>

        <!--selected vote type -->

        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="toggleVisibilitySelectedVoteType()" style="border-radius: 0;">WYBRANY TYP WYBORÓW
        </button>
        <div class="table-responsive" id="selectedVoteType" style="display: block;">
            <table id="" class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">ID Regionu</th>
                        <th scope="col">Data rozpoczęcia</th>
                        <th scope="col">Data zakończenia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${selectedVoteType.id}"></td>
                        <td th:text="${selectedVoteType.voteName}"></td>
                        <td th:text="${selectedVoteType.region.name}"></td>
                        <td th:text="${#dates.format(selectedVoteType.endDate, 'yyyy-MM-dd, HH:mm')}"></td>
                        <td th:text="${#dates.format(selectedVoteType.endDate, 'yyyy-MM-dd, HH:mm')}"></td>
                        <td>
                            <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#votetypeModal" data-whatever="@fat" style="width: 150px">EDYTUJ
                            </button>
                            <form th:action="@{/admin/delete/{voteTypeId}(voteTypeId=${selectedVoteType.id})}" method="POST">
                                <button type="submit" class="btn btn-danger m-1" style="width: 150px">
                                    USUŃ
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!--table for candidate -->
        <button type="button" class="btn btn-primary btn-lg btn-block" onclick="toggleVisibilityCandidates()" style="border-radius: 0;">KANDYDACI
        </button>
        <div id="candidates" style="display: block">
            <input style="border-radius: 0;" class="btn form-control mr-sm-2" type="search" id="searchcandidate" onkeyup="findCandidate()"
                placeholder="Wyszukaj kandydata" aria-label="Search">
            <!-- na razie wyszukuje po first name -->

            <div class="table-responsive">
                <table id="candidatetable" class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Imię</th>
                            <th scope="col">Nazwisko</th>
                            <th scope="col">Typ wyborów</th>
                            <th scope="col">Numer listy</th>
                            <th scope="col">Pozycja na liście</th>
                            <th scope="col">
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#newCandidateModal" data-whatever="@mdo" style="width: 150px">
                                    DODAJ
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="candidate : ${candidates}">
                            <td th:text="${candidate.id}"></td>
                            <td th:text="${candidate.firstName}"></td>
                            <td th:text="${candidate.lastName}"></td>
                            <td th:text="${candidate.voteType.voteName}"></td>
                            <td th:text="${candidate.listNumber}"></td>
                            <td th:text="${candidate.positionNumber}"></td>
                            <td>
                                <button type="button" class="btn btn-primary m-1" data-toggle="modal" th:attr="data-target='#candidateModal'+${candidate.id}"
                                    data-whatever="@fat" style="width: 150px">
                                    EDYTUJ
                                </button>
                                <form th:action="@{/votetype/candidate/delete/{candidateId}(candidateId=${candidate.id})}" th:method="post">
                                    <button type="submit" class="btn btn-danger m-1" style="width: 150px">
                                        USUŃ
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!--modal for candidate -->
        <div class="modal fade" id="newCandidateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">DODAJ KANDYDATA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/votetype/candidate/save}" th:object="${registerCandidate}" method="POST">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Imię</label>
                                <input th:field="*{firstName}" type="text" class="form-control" id="recipient-name" placeholder="First Name">
                                <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="alert alert-danger"></p>
                                <label for="recipient-name" class="col-form-label">Nazwisko</label>
                                <input th:field="*{lastName}" type="text" class="form-control" id="recipient-name" placeholder="Last Name">
                                <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert alert-danger"></p>
                                <label for="recipient-name" class="col-form-label">Typ wyborów</label>
                                <input th:attr="name='voteType'" th:value="${{selectedVoteType}}" type="text" class="form-control" id="recipient-name" hidden>
                                <p th:if="${#fields.hasErrors('voteType')}" th:errors="*{voteType}" class="alert alert-danger"></p>
                                <label for="recipient-name" class="col-form-label">Numer listy</label>
                                <input th:field="*{listNumber}" type="text" class="form-control" id="recipient-name" placeholder="List Number">
                                <p th:if="${#fields.hasErrors('listNumber')}" th:errors="*{listNumber}" class="alert alert-danger"></p>
                                <label for="recipient-name" class="col-form-label">Pozycja na liście</label>
                                <input th:field="*{positionNumber}" type="text" class="form-control" id="recipient-name" placeholder="List Position">
                                <p th:if="${#fields.hasErrors('positionNumber')}" th:errors="*{positionNumber}" class="alert alert-danger"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">ZAMKNIJ</button>
                                <button type="submit" class="btn btn-primary">ZAPISZ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--modal for candidate -->
        <div th:each="candidate : ${candidates}" class="modal fade" th:id="'candidateModal'+${candidate.id}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">KANDYDAT</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/votetype/candidate/update}" th:object="${registerCandidate}" method="POST">
                            <div class="form-group">
                                <input th:value="${candidate.id}" th:attr="name='id'" type="hidden" />
                                <label for="recipient-name" class="col-form-label">Imię</label>
                                <input th:attr="name='firstName'" th:value="${candidate.firstName}" type="text" class="form-control" id="recipient-name"
                                    placeholder="Imię" style="text-align: center">
                                <label for="recipient-name" class="col-form-label">Nazwisko</label>
                                <input th:attr="name='lastName'" th:value="${candidate.lastName}" type="text" class="form-control" id="recipient-name" placeholder="Nazwisko"
                                    style="text-align: center">
                                <input th:attr="name='voteType'" th:value="${{candidate.voteType}}" type="text" class="form-control" id="recipient-name"
                                    hidden>
                                <label for="recipient-name" class="col-form-label">Numer listy</label>
                                <input th:attr="name='listNumber'" th:value="${candidate.listNumber}" type="text" class="form-control" id="recipient-name"
                                    placeholder="Numer listy" style="text-align: center">
                                <label for="recipient-name" class="col-form-label">Pozycja na liście</label>
                                <input th:attr="name='positionNumber'" th:value="${candidate.positionNumber}" type="text" class="form-control" id="recipient-name"
                                    placeholder="Pozycja na liście" style="text-align: center">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">ZAMKNIJ</button>
                                <button type="submit" class="btn btn-primary">ZAPISZ</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!--modal for vote type -->
        <div class="modal fade" id="votetypeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">EDYTUJ TYP WYBORÓW</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="@{/votetype/update}" th:object="${registerVoteType}" method="POST">
                            <div class="form-group" ng-app="votingApp" ng-controller="regionCtrl">
                                <input th:value="${selectedVoteType.id}" th:attr="name='id'" class="col-form-label" type="hidden" />
                                <label for="recipient-name" class="col-form-label">Nazwa</label>
                                <input th:value="${selectedVoteType.voteName}" th:attr="name='voteName'" class="form-control" type="text" placeholder="Nazwa"
                                    style="text-align: center" />
                                <p th:if="${#fields.hasErrors('voteName')}" th:errors="*{voteName}" class="alert alert-danger"></p>
                                <label for="recipient-name" class="col-form-label">Region</label>
                                <div class="form-row">
                                    <div class="col-md-9 mb-3">
                                        <input type="text" class="form-control sticky-keeper" id="recipient-name" ng-model="input" placeholder="Wyszukaj nazwę regionu"
                                            style="text-align: center">
                                        <div id="sticky-bar" class="sticky">
                                            <i ng-if="regions.length == 0" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                                            <ul ng-if="regions.length > 0" class="list-group">
                                                <li ng-repeat="region in regions" class="list-group-item">
                                                    <p>
                                                        <button ng-click="setRegion(region)" type="button" class="btn btn-primary btn-sm"> Set
                                                        </button>
                                                        Region: {{region.city}}
                                                    </p>
                                                    <p>{{region.name}}, {{region.description}}</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-1 mb-3">
                                        <button type="button" class="btn btn-secondary" ng-click="getRegions(input)">SZUKAJ</button>
                                    </div>
                                </div>
                                <div ng-if="!selectedRegion">
                                    <input th:value="${selectedVoteType.region.id}" th:attr="name='region.id'" type="text" class="form-control" id="recipient-name"
                                        hidden>
                                </div>
                                <label for="recipient-name" class="col-form-label">Wybrany region: {{selectedRegion.city}}
                                </label>
                                <p>{{selectedRegion.name}} {{selectedRegion.description}}</p>
                                <input th:attr="name='region.id'" type="text" class="form-control" id="recipient-name" ng-model="selectedRegion.id" hidden>
                                <p th:if="${#fields.hasErrors('region')}" th:errors="*{region}" class="alert alert-danger"></p>
                                <label for="recipient-name" class="col-form-label">Data rozpoczęcia</label>
                                <input th:value="${selectedVoteType.startDate}" th:attr="name='startDate'" type="text" class="form-control" id="recipient-name"
                                    placeholder="RRRR-MM-DD GG:MM:SS" style="text-align: center">
                                <label for="recipient-name" class="col-form-label">Data zakończenia</label>
                                <input th:value="${selectedVoteType.endDate}" th:attr="name='endDate'" type="text" class="form-control" id="recipient-name"
                                    placeholder="RRRR-MM-DD GG:MM:SS" style="text-align: center">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">ZAMKNIJ</button>
                                <button type="submit" class="btn btn-primary">ZAPISZ</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <a th:href="@{/admin/panel}" class="btn btn-danger btn-lg btn-block mt-2" role="button" aria-pressed="true" style="border-radius: 0;">POWRÓT</a>
    </div>
    <script src="../../static/js/region.js" th:src="@{/js/region.js}"></script>
</body>

</html>