<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <title>lista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <title>lista</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          crossorigin="anonymous">
    <link href="../../static/css/list_style.css" th:href="@{/css/list_style.css}" rel="stylesheet"/>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">`
        <form th:action="@{/vote/save}" th:object="${vote}" method="POST">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="alert alert-warning alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Uwaga!</strong>
                    <p>Głosować można tylko na jedną listę kandydatów, zaznaczając na karcie do głosowania wybraną osobę
                        (należy kliknąć w pole wybrananego przez siebie kandydata).</p>
                    <p>W kratce z lewej strony obok nazwiska jednego z kandydatów z listy pojawi się znaczek, przez co
                        wskazuje się wybraną osobę do otrzymania mandatu.</p>
                    <p>W przypadku zaznaczenia pola <strong class="label label-default">Chcę oddać głos
                        nieważny.</strong>
                        żadna z osób nie otrzyma Twojego głosu i zostanie on podliczony jako <strong>nieważny</strong>!
                    </p>
                </div>


                <h2 class="text-center">Wybierz swojego kandydata.</h2>
                <h2 class="text-center" style="color: darkred" th:text="${vote_submitted}"></h2>
                <h4 class="text-center" th:text="${save_message}"></h4>

                <div th:if="${votetype_expired_flag==true}">
                    <h4 class="text-center">Głosowanie się zakończyło. Przejdź do raportu.</h4>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" th:href="@{/raport}"> Przejdź </a>
                    </div>
                </div>

            </div>


            <div th:if="${is_votetype_active==false}">
                <h2 class="text-center" style="color: darkred"> Żadne głosowanie nie jest aktualnie dostępne dla Twojego
                    regionu. </h2>
            </div>

            <div th:if="${is_votetype_active==true}">
                <div th:if="${votetype_expired_flag==false}">

                    <div class="frb-group">
                        <div class="row">


                            <th:block th:each="i: ${#numbers.sequence(1, 3)}">
                                <div class="col-xs-12 col-sm-12 col-md-4">
                                    <div class="row">
                                        <div class="frb frb-default col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                            <h2 th:text="'Lista wyborcza '+${i}"></h2>
                                        </div>

                                        <th:block th:each="candidate,iter:${all_candidates_list}">
                                            <div th:if="${i} == ${candidate.listNumber}">
                                                <div class="frb frb-default col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                    <input type="radio" th:attr="name='candidate.id'"
                                                           th:id="'radio-button-'+${candidate.positionNumber}+'L'+${i}"
                                                           name="radio-button"
                                                           th:value="${candidate.id}">
                                                    <label th:for="'radio-button-'+(${candidate.positionNumber})+'L'+${i}">
                                                    <span class="frb-title"
                                                          th:text="${candidate.firstName} + ' '+ ${candidate.lastName}"></span><br/>
                                                        <span class="frb-description"
                                                              th:text="'Pozycja ' + ${candidate.positionNumber}"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <div th:if="${votes_size == 0}">
                        <div class="frb frb-default col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <input type="radio" id="radio-button-nan" name="radio-button"
                                   th:attr="name='candidate.id',value='-2'">
                            <label for="radio-button-nan">
                                <span class="frb-title">Chcę oddać głos nieważny.</span><br/>
                                <span class="frb-description">Żadne z powyższych osób nie otrzyma głosu.</span>
                            </label>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <input type="submit" value="Oddaj głos" class="btn btn-lg btn-primary btn-block"/>
                        </div>

                    </div>


                </div>
            </div>

        </form>

    </div>

</div>

</body>
</html>