<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex, nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>wybory</title>

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="style.css" rel="stylesheet" id="bootstrap-css">
	<link href="../../static/css/list_style.css" th:href="@{/css/list_style.css}" rel="stylesheet" />
	<link href="../../static/css/login_style.css" th:href="@{/css/login_style.css}" rel="stylesheet" />
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
				<form class="login-form" th:action="@{/login}" th:object="${person}" method="post">
					<p th:text="${errorMessage}"></p>
					<h2>Wpisz poprawne dane
						<small> by zagłosować.</small>
					</h2>
					<hr class="colorgraph">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="imie" id="imie" th:field="*{firstName}" class="form-control input-lg" placeholder="Imię" tabindex="1">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="text" name="nazwisko" id="nazwisko" th:field="*{lastName}" class="form-control input-lg" placeholder="Nazwisko"
								 tabindex="2">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="number" min="1" name="pesel" id="pesel" class="form-control input-lg" th:field="*{peselNumber}" placeholder="PESEL"
								 tabindex="6">
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="form-group">
								<input type="number" min="1" step="any" name="dochod" id="dochod" class="form-control input-lg" th:field="*{lastIncomeValue}"
								 placeholder="Dochód w roku ubiegłym" tabindex="8">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group">
								<input type="text" name="nr_dowodu" id="nr_dowodu" class="form-control input-lg" th:field="*{idCardNumber}" placeholder="Nr Dowodu"
								 tabindex="9">
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<div class="form-group">
								<input onblur="(this.type='text')" onfocus="(this.type='date')" name="data_waznosci_dowodu" id="data_waznosci_dowodu" class="form-control input-lg"
								 th:field="*{idCardExpDate}" placeholder="Data Ważności Dowodu" tabindex="11">
							</div>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-4">
							<span class="button-checkbox">
								<button type="button" class="btn" data-color="info" tabindex="12">Rozumiem Postanowienia</button>
								<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
							</span>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-8">
							Klikając
							<strong class="label label-primary">Przejdź do głosowania</strong>, akceptujesz
							<a href="#" data-toggle="modal" data-target="#t_and_c_m">Postanowienia Ogólne</a> określone przez ustawodawce.
						</div>
					</div>

					<hr class="colorgraph">
					<div class="row">
						<div class="col-xs-12 col-md-12">
							<input type="submit" value="Przejdź do głosowania" class="btn btn-primary btn-block btn-lg" tabindex="13">
						</div>
					</div>
				</form>
			</div>
		</div>

		<!-- regulamin wyborów -->
		<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">Postanowienia ogólne</h4>
					</div>
					<div class="modal-body">
						<p>Każdemu wyborcy przysługuje jeden głos.</p>
						<p>Wybory do władz stowarzyszenia są bezpośrednie i tajne.</p>
						<p>Prawo zgłaszania kandydatów do Władz Stowarzyszenia mają wyłącznie delegaci obecni podczas Zgromadzenia Ogólnego.</p>
						<p>bla bla...</p>
						<p>bla...</p>
						<p>...</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Zwiń okno</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

	</div>
	<script src="../../static/js/operate.js" th:src="@{/js/operate.js}"></script>
	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>

</body>

</html>